* {
    margin: 0;
    padding: 0;
}


a {
    text-decoration: none;
}

textarea {
    resize: none;
}

.logo img {
    width: 150px;
    height: 100px;
    margin: 0 50px 0 20px;
}

.row ul li a {
    color: white;
}
.row ul li {
    display: inline;
    margin: 10px;
}
.row ul {
    display: inline;
    float: right;
}
header {
    display: flex;
    align-items: center;
    background-color: #000000;
}

.pn {
    margin: 5% 5% 0 25%;
}
.whyus {
    display: flex;
    margin-top: 50px;
}
.whyus img {
    width: 300px;
    height: auto;
}

.imain {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.imain img {
    width: 600px;
    height: auto;
}

.imain a {
    background-color: black;
    color: white;
    padding: 20px 50px;
    width: 70px;
    border-radius: 30%;
    text-align: center;
}

section div h1 {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-left-color: black;
    border-right-color: black;
}

.gmain {
    margin-top: 40px;
    margin-left: 50px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
}

.gmain .gallery {
    width: 200px;
    margin-bottom: 40px;
}

.gmain .gallery img {
    width: 200px;
    height: 120px;
}

.gmain .gallery .desc {
    text-align: center;
}

/* start reservation */

.reservation {
    display: flex;
    justify-content: center;
}

.reservation-form {
    width: 75%;
    margin: 20px 0;
    text-align: center;
    border: 5px solid black;
}

.reservation-form div label {
    display: inline-block;
    margin: 0 1% 0 0;
}

[type="submit"] {
    width: 65px;
    height: 25px;
    color: aliceblue;
    background-color: black;
    border-color: black;
}

.reservation-form div label img{
    width: 200px;
    height: 120px;
}

.reservation-form div label{
    width: 200px;
    height: 120px;
}

.justsome {
    margin-top: 50px;
}


/* end reservation */

/* start contact */

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-form label {
    margin: 10px 0;
}

.contact-form label input {
    display: block;
}

.message {
    width: 400px;
    height: 200px;
    display: block;
}

.sujet {
    width: 400px;
}

.name {
    width: 400px;
}

.email {
    width: 400px;
}

.error {
    color: red;
}

.data-show {
    display: none;
    top: 20%;
    left: 34.1%;
    position: absolute;
    background-color: white;
    box-shadow: 0px 0px 5px gray;
    width: auto;
    height: 500px;
    border-radius: 3%;
}

.data-show p {
    margin: 10px 6px;
}
.data-show textarea {
    margin: 10px 6px;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 500px;
    border:none;
}

#message-show {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
/* end contact */


/* start footer */

footer {
    background-color: black;
    color: white;
    padding-top: 30px;
    padding-left: 20px;
    height: 50px;
}

footer div {
    display: flex;
    justify-content: center;
}
footer div p {
    margin-right: 20px;
}

/* end footer */