* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

textarea {
    resize: none;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/* navbar start */

.logo img {
    width: 150px;
    height: 100px;
    margin: 0 50px 0 20px;
}

.row ul li a {
    color: white;
}
.row ul li {
    display: inline;
    margin: 10px;
}
.row ul {
    display: inline;
    float: right;
}
header {
    display: flex;
    align-items: center;
    background-color: #000000;
}

.menu {
    color: white;
    border: 1px solid white;
    padding: 3px 6px;
    position: absolute;
    left: 80%;
    top: 5%;
    display: none;
}

#check {
    display: none;
}

#row {
    display: block;
}

@media only screen and (max-width: 550px) {
    header {
        display: block;
    }
    #row {
        display: none;
        float: left;
        background-color: black;
        padding-bottom: 10px;
    }
    
    .menu {
        display: block;
    }
}
/* navbar end */

.pn {
    margin: 5% 5% 0 25%;
}
.whyus {
    display: flex;
    margin-top: 50px;
}
.whyus img {
    width: 300px;
    height: auto;
}

.imain {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.imain img {
    width: 600px;
    height: auto;
}

.imain a {
    background-color: black;
    color: white;
    padding: 20px 50px;
    width: 70px;
    border-radius: 30%;
    text-align: center;
}

section div h1 {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(22, 21, 27);
    color: white;
    border-left-color: black;
    border-right-color: black;
}

@media only screen and (max-width: 550px) {
    .imain img {
        width: 400px;
    }

    .whyus {
        flex-direction: column;
        align-items: center;
    }
}

/* gallery start */

.gbody {
    background-color: black;
}

.gmain {
    color: white;
    margin-top: 40px;
    margin-left: 50px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
}

.gmain .gallery {
    width: 200px;
    margin-bottom: 40px;
}

.gmain .gallery img {
    width: 200px;
    height: 120px;
    border-radius: 5px;
    box-shadow: white;
}

.gmain .gallery .desc {
    text-align: center;
}

@media only screen and (max-width: 550px) {
    .gmain {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }
}


/* gallery end */

/* start reservation */

.rbody {
    background-color: black;
    color:white;
}

.reservation {
    display: flex;
    justify-content: center;
}

.reservation-form {
    width: 75%;
    margin: 20px 0;
    text-align: center;
    border: 5px solid black;
}

.reservation-form div label {
    display: inline-block;
    margin: 0 1% 0 0;
}

[type="submit"] {
    width: 65px;
    height: 25px;
    color: aliceblue;
    background-color: black;
    border-color: black;
}

.reservation-form div label img{
    border-radius: 5px;
    width: 200px;
    height: 120px;
}

.reservation-form div label{
    width: 200px;
    height: 120px;
}

.justsome {
    margin-top: 50px;
}


/* end reservation */

/* start contact */


.contact-body {
    background-color: #000000;
}

.contact {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-info{
    color: #fff;
    max-width: 500px;
    line-height: 65px;
    padding-left: 50px;
    font-size: 18px;
}

.contact-info i{
    margin-right: 20px;
    font-size: 25px;
}

.contact-form{
    max-width: 700px;
    margin-right: 50px;
}

.contact-info, .contact-form{
    flex: 1;
}

.contact-form .text-box{
    background: rgb(18, 16, 24);
    color: #fff;
    border: none;
    width: 100%;
    height: 50px;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    opacity: 0.9;
}

.contact-form .text-box:first-child{
    margin-right: 15px;
}

.contact-form textarea{
    background: rgb(18, 16, 24);
    color: #fff;
    border: none;
    width: 100%;
    padding: 12px;
    font-size: 15px;
    min-height: 200px;
    max-height: 400px;
    resize: vertical;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    opacity: 0.9;
}

.contact-form .submit-button {
    float: right;
    background: #2E94E3;
    color: #fff;
    border: none;
    width: 120px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.contact-form .submit-button:hover{
    background: #0582E3;
}


.error {
    color: red;
}

.data-show {
    display: none;
    top: 30%;
    left: 34.1%;
    position: absolute;
    background-color: black;
    color: white;
    box-shadow: 0px 0px 5px white;
    width: auto;
    height: 500px;
    border-radius: 3%;
}

.data-show p {
    margin: 10px 6px;
}
.data-show textarea {
    background-color: black;
    color: white;
    margin: 10px 6px;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 500px;
    border:none;
}

#message-show {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 950px){
    .contact-section{
    flex-direction: column;
    }

    .contact-info, .contact-form{
    margin: 30px 50px;
    }

    .contact-form .text-box{
    width: 100%;
    }

    .data-show textarea {
        width: 98%;
    }

    .data-show {
        left: 1%;
        width: 98%
    }
}
/* end contact */


/* start footer */

footer {
    background-color: black;
    color: white;
    padding-top: 30px;
    padding-left: 20px;
    height: 50px;
    margin-top: auto;
}

footer div {
    display: flex;
    justify-content: center;
}
footer div p {
    margin-right: 20px;
}

@media only screen and (max-width: 550px) {
    footer div {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    footer {
        height: 130px;
    }
}

/* end footer */